ul.ARPostListV, ul.ARPostListH, ul.ARUserGrid, ul.ARUserH{
    padding:0;
    margin:0;
    
}
ul.ARPostListV li, ul.ARPostListH li, ul.ARUserGrid li, ul.ARUserH li {
    list-style-type:none;
    background:none;
}

ul.ARPostListV li{
    width: 200px;
    min-height: 250px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    zoom: 1;
    *display: inline;
    _height: 250px;
}

ul.ARPostListH li {
    margin-bottom: 17px;
}

ul.ARPostListH li .feature{
    float:left;
}

ul.ARUserGrid li{ 
    width: 55px;
    min-height: 55px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}


ul.ARUserH li .feature{
 float:left;   
}
ul.ARUserH li .block{
    margin-left: 115px;
}
ul.ARUserH li h2 {clear: none;}
.AtomicReach .loadmore{
    display: block;
    text-align: center;
    font-size:120%;
}